.news
  
  &__item
    +clearfix
    position: relative
    margin-bottom: 20px
  
  &__img
    background: $gray center
    background-size: cover
    height: 150px
    width: 100%
    position: relative
    +TAB_MIN
      float: left
      width: 35%
    +PC_MIN
      width: 25%
      
  &__icon
    +absolute-center
    +font(size 70px)
  
  &__content
    +PHONE_ONLY
      padding: 20px
      text-align: center
    +TAB_MIN
      float: left
      padding: 0 20px
      width: 65%
    +PC_MIN
      width: 75%
  
  &__contentTitle
    +font(size 24px)
    margin-bottom: 5px
    text-transform: uppercase
    line-height: 1
  
  &__contentText
    +TAB_MAX
      display: none
  
  &__button
    +TAB_MIN
      position: absolute
      bottom: 0
      
  &__pagerItem
    +font(size 15px)
    display: inline-flex
    align-items: center
    justify-content: center
    height: 30px
    width: 60px
    background: $red
    color: $white
    transition: 0.3s ease all
    &:hover
      background: $grayDark
      text-decoration: none
    
    &.-prev
      margin-right: 10px