.banner
  position: relative
  z-index: 1
  overflow: hidden
  &.-main
    .container
      height: 310px
      +TAB_MIN
        height: 550px
  &.-product
    .container
      height: 310px
      +PC_MIN
        height: 550px
  &.-pages
    .container
      height: 150px
      +PC_MIN
        height: 250px
  
  &__item
    background-position: center
    background-size: cover
    box-shadow: inset 0 200px 200px transparentize($black, 0.25)
    
    .-product &, .-pages &
      box-shadow: inset 0 1000px 0 transparentize($black, 0.25)
  
  .container
    +flex-center
  
  &__header
    +flex-center
    flex-direction: column
    text-align: center
    width: 100%
    height: 120px
    background: transparentize($white, 0.25)
    position: relative
    transition: 0.6s ease all
    transform-origin: bottom
    &.-hide
      transform: translateY(50%) scale(0)
      opacity: 0
    +TAB_MIN
      width: 75%
      height: 220px
  
  &__titleTop
    +font(size 18px)
    width: 100%
    text-transform: uppercase
    +TAB_MIN
      margin-bottom: 20px
    +PC_MIN
      margin-bottom: 30px
  
  &__titleBottom
    +font(size 18px weight 200)
    text-transform: uppercase
    +PC_MIN
      +font(size 36px)
  
  &__button
    position: absolute
    bottom: 0
    left: 50%
    transform: translate(-50%, 50%)
  
  &__corner
    height: 50px
    width: 50px
    position: absolute
    &:nth-child(1), &:nth-child(2)
      top: -5px
      border-top: 10px solid $white
    &:nth-child(3), &:nth-child(4)
      bottom: -5px
      border-bottom: 10px solid $white
    &:nth-child(1), &:nth-child(3)
      left: -5px
      border-left: 10px solid $white
    &:nth-child(2), &:nth-child(4)
      right: -5px
      border-right: 10px solid $white