=clearfix
  &:before,
  &:after
    content: " "
    display: table
  &:after
    clear: both

=absolute-center
  position: absolute
  top: 50%
  left: 50%
  transform: translate(-50%, -50%)
  
=section-padding
  padding: 40px 0
  +PC_MIN
    padding: 50px 0

=section-bg
  background-size: cover
  background-position: center
    
=wave-effect
  display: inline-block
  position: relative
  z-index: 2
  overflow: hidden
  background: $gray
  &:after
    background: darken($gray, 10%)
    transition: 0.3s ease all
    content: ''
    position: absolute
    left: -105%
    top: 0
    opacity: 0
    width: 100%
    height: 100%
    z-index: -1
  &:hover
    text-decoration: none
    &:after
      left: 0
      opacity: 1