.info
  .info__box
    .info__item.wow.zoomInDown(data-wow-delay="0.3s")
      i.info__icon.fa.fa-life-ring
      .info__text
        +lorem(2)
      .info__hover
        +lorem(10)

    .info__item.wow.zoomInDown(data-wow-delay="0.6s")
      i.info__icon.fa.fa-tachometer
      .info__text
        +lorem(2)
      .info__hover
        +lorem(10)

    .info__item.wow.zoomInDown(data-wow-delay="0.9s")
      i.info__icon.fa.fa-wrench
      .info__text
        +lorem(2)
      .info__hover
        +lorem(10)

    .info__item.wow.zoomInDown(data-wow-delay="1.2s")
      i.info__icon.fa.fa-cogs
      .info__text
        +lorem(2)
      .info__hover
        +lorem(10)