.info
  
  &__box
    +clearfix
  
  &__item
    color: $gray
    position: relative
    float: left
    width: 25%
    text-align: center
    &:hover
      text-decoration: none
      .info__hover
        opacity: 1
        transform: scale(1)
    +PHONE_ONLY
      width: 100%
    +TAB_ONLY
      width: 50%
    +TAB_MAX
      margin-bottom: 40px
      &:last-child
        margin-bottom: 0
  
  &__icon
    +font(size 60px)
  
  &__text
    text-transform: uppercase
    margin-top: 20px
  
  &__hover
    +font(size 14px)
    background: $gray
    color: $grayDark
    padding: 20px
    margin: 10px
    position: absolute
    top: calc(100% + 20px)
    transform: scale(0.5)
    transform-origin: top
    transition: 0.3s ease all
    width: calc(100% - 20px)
    opacity: 0
    z-index: 2
    &:after
      position: absolute
      top: -20px
      left: 50%
      transform: translateX(-50%)
      content: ''
      width: 0
      height: 0
      border-left: 20px solid transparent
      border-right: 20px solid transparent
      border-bottom: 20px solid $gray