.nav
  position: relative
  display: flex
  z-index: 101
  
  &__background
    position: fixed
    top: 0
    right: 0
    bottom: 0
    left: 0
    background: $grayDark url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAYAAAAGCAYAAADgzO9IAAAAHElEQVQYV2NkQAWSMC4jWRJw7QwMDM+RjSJNAgCMFgNS6xpg7wAAAABJRU5ErkJggg==)
    display: none
    z-index: 100
    +PC_MIN
      display: none !important
  
  &__button
    +flex-center
    width: 50px
    height: 50px
    font-size: 24px
    position: fixed
    right: 20px
    top: 20px
    background: transparentize($black, 0.5)
    color: $white
    cursor: pointer
    +PC_MIN
      display: none
  
  &__list
    +clearfix
    text-align: center
    margin: 0
    padding: 0
    +TAB_MAX
      position: fixed
      top: 50%
      left: 50%
      display: none
      z-index: 100
      max-height: 90vh
      overflow-y: auto
      transform: translate(-50%, -50%)
      background: transparentize($black, 0.75)
    +PC_MIN
      display: block !important
  
  &__item
    display: block
    position: relative
    +PC_MIN
      float: left
      margin-left: 25px
  
  &__link
    display: block
    white-space: nowrap
    color: $white
    position: relative
    overflow: hidden
    transition: 0.3s ease all
    &:after
      content: ''
      position: absolute
      bottom: 0
      left: 0
      width: 100%
      height: 2px
      opacity: 0
      background: $white
      transform: translateX(-100%)
      transition: inherit
    &:hover, &.-active
      text-decoration: none
      &:after
        transform: translateX(0)
        opacity: 1
    +TAB_MAX
      padding: 17px 70px
    +PC_MIN
      padding: 17px 0