nav.nav
  .nav__button
    i.fa.fa-bars

  .nav__background

  ul.nav__list
    li.nav__item
      a.nav__link.-active(href='index.html') Home
    li.nav__item
      a.nav__link(href='about.html') Autohandel
    li.nav__item
      a.nav__link(href='offer.html') Mechanika pojazdowa
    li.nav__item
      a.nav__link(href='projects.html') Pomoc drogowa
    li.nav__item
      a.nav__link(href='contact.html') Kontakt