extends ../layout/body

block headScripts

block content
  include ../components/banner/banner-main
  include ../components/welcome/welcome
  include ../components/about/about
  include ../components/trump/trump
  include ../components/map/map
