.lnews {
	margin: 5px 5px 20px 5px;
	padding: 15px;
	background: #fff;
	border: 1px solid #ddd;
}

.lnews__link {
	display: block;
}

.lnews__thumbnail {
	width: 120px;
	height: 120px;
	margin-right: 20px;
	background-position: top center !important;
	background-size: cover !important;
	background-repeat: no-repeat !important;
}

.lnews__title {
	text-align: left;
	padding: 0;
	margin: 0;
}

.lnews__content {
	font-size: 14px;
}