{include: themes/".$settings.theme."/inc/header.html}
{include: themes/".$settings.theme."/inc/banner.html}

<div class="blog">
    <div class="container">
        <div class="blog__main wow bounceInRight" data-wow-delay="0.9s">
            <div class="blog__title">
                <h1 class="title -blue wow fadeInDown">
                    <span class="title__box">
                        <span class="title__first">{$blog.title}</span>
                        <span class="title__second">{$blog.desc}</span>
                    </span>
                </h1>
            </div>
            <div class="blog__content">
                {if: $blog.posts}
                <div class="news">
                    <div class="news__slider">
                        {loop: $blog.posts}
                        <div class="news__item">
                            {if: $value.cover_photo}
                            <div class="news__img" style="background-image: url('{$value.cover_url}');"></div>
                            {else}
                            <div class="news__img">
                                <i class="news__icon fa fa-newspaper-o"></i>
                            </div>
                            {/if}
                            <div class="news__content">
                                <div class="news__contentTitle">{$value.title}</div>
                                <div class="news__contentText">{$value.content}</div>
                                <div class="news__button">
                                    <a class="button -blue" href="{$value.url}">Zobacz więcej</a>
                                </div>
                            </div>
                        </div>
                        {/loop}
                    </div>
                </div>

                <div class="news__pager">
                    {if: isset($prev)}
                    <a class="news__pagerItem -prev" href="{$prev.url}"><i class="fa fa-arrow-left"></i></a>
                    {/if}
                    {if: isset($next)}
                    <a class="news__pagerItem" href="{$next.url}"><i class="fa fa-arrow-right"></i></a>
                    {/if}
                </div>
                {else}
                <div class="notify -danger">Brak aktualności</div>
                {/if}
            </div>
        </div>
    </div>
</div>

{if: !empty($settings.blog.disqus)}
<script>
  var disqus_shortname = '{$settings.blog.disqus}';
  (function () {
    var s = document.createElement('script');
    s.async = true;
    s.type = 'text/javascript';
    s.src = 'http://' + disqus_shortname + '.disqus.com/count.js';
    (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
  }());
</script>
<script id="dsq-count-scr" src="//{$settings.blog.disqus}.disqus.com/count.js" async></script>
{/if}

{include: themes/".$settings.theme."/inc/footer.html}