{include: themes/".$settings.theme."/inc/header.html}
{include: themes/".$settings.theme."/inc/banner.html}

<div class="blog">
    <div class="container">
        <div class="blog__main wow bounceInRight" data-wow-delay="0.9s">
            <div class="blog__title">
                <h1 class="title -blue wow fadeInDown">
                    <span class="title__box">
                        <span class="title__first"></span>
                        <span class="title__second">{$page.title}</span>
                    </span>
                </h1>
                <p class="text-center text-uppercase">{$page.desc}</p>
            </div>
            <div class="blog__content">
                <div class="article">
                    {if: $bat.notify}
                    <div class="notify -{$bat.notify.type}">{$bat.notify.text}</div>
                    {/if}
                    {$page.content}
                </div>
            </div>
        </div>
    </div>
</div>

{include: themes/".$settings.theme."/inc/footer.html}
