{include: themes/".$settings.theme."/inc/header.html}
{include: themes/".$settings.theme."/inc/banner.html}

<div class="blog">
    <div class="container">
        <div class="blog__main wow bounceInRight" data-wow-delay="0.9s">
            <div class="blog__title">
                <h1 class="title -blue wow fadeInDown">
                    <span class="title__box">
                        <span class="title__first"></span>
                        <span class="title__second">{$post.title}</span>
                    </span>
                </h1>
            </div>
            <div class="blog__content">
                <div class="article">
                    {$post.content}
                </div>
                <div class="article">
                    {$post.published_at}
                </div>
            </div>
        </div>

        {if: $post.comments == 1 && !empty($settings.blog.disqus)}
        <div id="disqus_thread"></div>
        <script>
          var disqus_config = function () {
            this.page.url = "{$post.url}";
            this.page.identifier = "{$post.id}";
          };
          (function () {
            var d = document, s = d.createElement('script');
            s.src = '//{$settings.blog.disqus}.disqus.com/embed.js';
            s.setAttribute('data-timestamp', +new Date());
            (d.head || d.body).appendChild(s);
          })();
        </script>
        <script id="dsq-count-scr" src="//{$settings.blog.disqus}.disqus.com/count.js" async></script>
        {/if}
    </div>
</div>

{include: themes/".$settings.theme."/inc/footer.html}
