.logo
  display: flex
  align-items: center
  height: inherit
  margin-right: 60px
  padding-top: 30px
  &:hover
    .logo__img
      transform: scale(1.2)
  
  &__img
    transition: 0.3s ease all
    display: block