<form class="form__content" name="email" method="POST" action="{$_SERVER['REQUEST_URI']}">
    <input class="form__input" type="text" name="name" placeholder="{$lang.contact.full_name}" required>
    <input class="form__input" type="email" name="from" placeholder="{$lang.contact.email}" required>
    <input class="form__input" type="text" name="subject" placeholder="{$lang.contact.subject}" required>
    <textarea class="form__textarea" name="message" placeholder="{$lang.contact.message}" required></textarea>

    <!-- antispam field -->
    <div class="form-group" id="antispam">
        <input type="text" name="title" required/>
    </div>
    <script>
      (function () {
        var e = document.getElementById("antispam");
        e.parentNode.removeChild(e);
      })();
    </script>
    <!-- /antispam field -->

    <button class="button -blue -form" type="submit" name="send-email">{$lang.contact.send}</button>
</form>