<article>
    <div class="row">
        <div class="col-xs-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">{$lang.settings.general}</h3>
                </div>
                <div class="panel-body">
                    <div class="well well-sm">
                        {$lang.googlemap.info} <strong>{noparse}{$googlemap}{/noparse}</strong>
                        <span class="label label-default pull-right">info</span>
                    </div>

                    <form action="{?=url(ADMIN.'/googlemap/saveGeneral')?}" method="POST">
                        <div class="row">
                            <div class="col-xs-12 col-md-6">
                                <div class="form-group">
                                    <label>{$lang.googlemap.add_lat}</label>
                                    <input type="text" pattern="-?\d{1,3}\.\d+" class="form-control" name="lat" value="{$googlemap.lat}" required />
                                </div>
                            </div>

                            <div class="col-xs-12 col-md-6">
                                <div class="form-group">
                                    <label>{$lang.googlemap.add_lng}</label>
                                    <input type="text" pattern="-?\d{1,3}\.\d+" class="form-control" name="lng" value="{$googlemap.lng}" required />
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-xs-12 col-md-6">
                                <div class="form-group">
                                    <label>{$lang.googlemap.add_zoom}</label>
                                    <input type="number" min="3" max="21" step="1" class="form-control" name="zoom" value="{$googlemap.zoom}" required />
                                </div>
                            </div>

                            <div class="col-xs-12 col-md-6">
                                <div class="form-group">
                                    <label>{$lang.googlemap.use_custom}</label>
                                    <select name="custom" class="form-control">
                                        <option value="yes" {if: $googlemap.custom == 'yes'}selected{/if}>{$lang.googlemap.gm_yes}</option>
                                        <option value="no" {if: $googlemap.custom == 'no'}selected{/if}>{$lang.googlemap.gm_no}</option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-xs-12">
                                <div class="form-group">
                                    <label>{$lang.googlemap.add_styles}</label>
                                    <textarea rows="5" class="form-control" name="styles" required>{$googlemap.styles}</textarea>
                                </div>
                            </div>
                        </div>

                        <div class="well well-sm">
                            <a href="http://snazzymaps.com/explore" target="_blank">{$lang.googlemap.generate}</a>
                            <span class="label label-default pull-right">info</span>
                        </div>

                        <button type="submit" name="save" class="btn btn-primary">{$lang.general.save}</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</article>