body
  +fontExo2
  font-size: 16px
  line-height: 1.5
  color: $grayDark

*::selection
  background-color: $gray
  color: $grayDark

*
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0)
  &:active, &:focus
    outline: none
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0)

main
  background: $white
  margin-bottom: 100px
  +TAB_MIN
    margin-bottom: 70px
    
.container
  margin: 0 auto
  padding: 0 20px
  max-width: 1000px

img
  display: inline-block