<div class="banner -pages">
    <div class="banner__item"
         style="background-image: url('{$bat.path}/themes/{$settings.theme}/dist/img/banner__item-2.jpg')">
        <div class="container"></div>
    </div>
</div>