<div class="trump">
    <div class="container">
        <div class="trump__title">
            <h1 class="title -white wow fadeInDown">
                <span class="title__box">
                    <span class="title__first">Nasze</span>
                    <span class="title__second"> aukcje</span>
                </span>
            </h1>
        </div>
        <div class="trump__content">
            <div class="trump__item wow zoomInLeft" data-wow-delay="0.3s">
                <div class="trump__itemBox">
                    <div class="trump__borderOut">
                        <div class="trump__borderIn">
                            <div class="trump__iconBox">
                                <i class="trump__icon fa fa-car"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <h1 class="trump__itemTitle">Samochody osobowe</h1>
            </div>
            <div class="trump__item wow zoomInLeft" data-wow-delay="0.6s">
                <div class="trump__itemBox">
                    <div class="trump__borderOut">
                        <div class="trump__borderIn">
                            <div class="trump__iconBox">
                                <i class="trump__icon fa fa-motorcycle"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <h1 class="trump__itemTitle">Motocykle</h1>
            </div>
            <div class="trump__item wow zoomInLeft" data-wow-delay="0.9s">
                <div class="trump__itemBox">
                    <div class="trump__borderOut">
                        <div class="trump__borderIn">
                            <div class="trump__iconBox">
                                <i class="trump__icon fa fa-truck"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <h1 class="trump__itemTitle">Samochody dostawcze</h1>
            </div>
            <div class="trump__item wow zoomInLeft" data-wow-delay="1.2s">
                <div class="trump__itemBox">
                    <div class="trump__borderOut">
                        <div class="trump__borderIn">
                            <div class="trump__iconBox">
                                <i class="trump__icon fa fa-cog"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <h1 class="trump__itemTitle">Części samochodowe</h1>
            </div>
        </div>
        <div class="trump__button wow bounceInUp">
            <a class="button -hollow" target="_blank" href="{$link.otomoto}">Zobacz więcej</a>
        </div>
    </div>
</div>