<div class="welcome">
    <div class="container">
        <div class="welcome__projects">
            {$latestNews}
        </div>
        <div class="welcome__info">
            <div class="info">
                <div class="info__box">
                    <div class="info__item wow zoomInDown" data-wow-delay="0.3s">
                        <i class="info__icon fa fa-handshake-o"></i>
                        <div class="info__text">Autohandel</div>
                        <div class="info__hover">
                            Gwarancja najniższych cen.
                        </div>
                    </div>
                    <div class="info__item wow zoomInDown" data-wow-delay="0.6s">
                        <i class="info__icon fa fa-tachometer"></i>
                        <div class="info__text">Mechanika pojazdowa</div>
                        <div class="info__hover">
                            Wykonujemy wyłącznie najnowszycm sprzętem przez wykwalifikowany personel.
                        </div>
                    </div>
                    <div class="info__item wow zoomInDown" data-wow-delay="0.9s">
                        <i class="info__icon fa fa-wrench"></i>
                        <div class="info__text">Pomoc drogowa</div>
                        <div class="info__hover">
                            Dostępna o każdej porze.
                        </div>
                    </div>
                    <div class="info__item wow zoomInDown" data-wow-delay="1.2s">
                        <i class="info__icon fa fa-cogs"></i>
                        <div class="info__text">Części samochodowe</div>
                        <div class="info__hover">
                            Wyłącznie od autoryzowanych dostawców.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>