.welcome
  +section-padding
  background: $grayDark url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAYAAAAGCAYAAADgzO9IAAAAHElEQVQYV2NkQAWSMC4jWRJw7QwMDM+RjSJNAgCMFgNS6xpg7wAAAABJRU5ErkJggg==)
  position: relative
  z-index: 10
    
  &__projects
    position: relative
    top: -80px
    margin-bottom: -50px
    +TAB_MIN
      top: -140px
      margin-bottom: -40px