<div class="projects">
    <div class="projects__flex">
        {loop: $latestnews.posts}
        <div class="projects__item wow zoomInUp" data-wow-delay="0.3s">
            <div class="projects__imgBox">
                {if: $value.param_img == 'yes' && $value.cover_photo}
                <div class="projects__img"
                     style="background-image: url('{$value.cover_url}');">
                </div>
                {else}
                <div class="projects__img">
                    <i class="projects__icon fa fa-newspaper-o"></i>
                </div>
                {/if}
            </div>

            <a class="projects__link" href="{$value.url}">
                {if: $value.param_title == 'yes'}
                <div class="projects__titleTop">{$value.title}</div>
                {/if}
                {if: $value.param_author == 'yes'}
                <div class="projects__titleTop">{$value.author.username}</div>
                {/if}
                {if: $value.param_date == 'yes'}
                <div class="projects__titleTop">{$value.published_at}</div>
                {/if}
                {if: $value.param_text == 'yes'}
                <div class="projects__titleTop">{$value.content}</div>
                {/if}
                <div class="projects__titleBottom">Zobacz więcej</div>
            </a>
        </div>
        {/loop}
    </div>
</div>

