.button
  +font(size 11px)
  +wave-effect
  display: inline-flex
  align-items: center
  justify-content: center
  text-transform: uppercase
  height: 34px
  color: $white
  padding: 0 25px
  cursor: pointer
  &:hover
    text-decoration: none
  
  &.-blue
    background: $red
    &:after
      background: $grayDark
      
  &.-map
    +font(size 14px)
    height: 54px
    i
      +font(size 20px)
      margin-right: 15px
      
  &.-form
    outline: none
    border: none
  
  &.-hollow
    background: transparent
    color: $gray
    border: 1px solid $gray
    &:after
      background: transparentize($gray, 0.7)
    