.form

  include ../notify/notify-danger

  form.form__content(name='form' action='mail.php' method='POST')
    input.form__input(type='text' name='name' placeholder='Imie i nazwisko *' required='')
    input.form__input(type='email' name='email' placeholder='E-Mail *' pattern=".{1,60}" required='')
    input.form__input(type='number' name='phone' placeholder='Telefon')
    textarea.form__textarea(name='msg' placeholder="Twoja wiadomość")

    include ../button/button-blue-form