.form
  position: relative
  
  &__input, &__textarea
    +font(size 16px)
    display: block
    width: 100%
    background: $grayLight
    color: $grayDark
    margin: 10px auto
    padding: 15px 20px
    border: none
    &.-invalid
      background: $red
    &::placeholder
      +font(size 16px)
      color: $grayDark
    &:focus
      outline: none
      background: darken($grayLight, 10%)

  &__textarea
    +size(height 90px)
    resize: none
    overflow: auto