<script>
  var mapLat = {$googlemap.lat};
  var mapLng = {$googlemap.lng};
  var mapZoom = {$googlemap.zoom};
  var styles = {$googlemap.styles};

  window.onload = function() {
    map.init(mapLat, mapLng, mapZoom, styles);
  }
</script>

<div id="map">
    <div id="map__box">
        <div id="map__canvas"></div>
        <a href="https://www.google.pl/maps/dir/{$googlemap.lat},{$googlemap.lng}/@{$googlemap.lat},{$googlemap.lng},{$googlemap.zoom}z" target="_blank" id="map__marker">
            <div id="map__icon">
				<svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="100px" height="100px" viewBox="108.445 0 617 595.281" enable-background="new 108.445 0 617 595.281" xml:space="preserve">
					<g>
						<g>
							<path fill="#FFFFFF" stroke="#7B1711" stroke-width="4" stroke-miterlimit="10" d="M646.33,343.251
								c-20.731,54.835-41.135,109.804-62.351,164.438c-10.325,26.572-26.381,49.286-51.665,63.944
								c-39.652,22.981-80.349,25.052-121.769,4.749c-19.401-9.508-33.904-24.769-47.332-41.165
								c-52.744-64.392-105.478-128.808-158.102-193.298c-21.329-26.134-42.962-52.044-63.398-78.87
								c-22.122-29.02-29.82-62.35-21.729-97.921c11.015-48.442,40.837-80.791,89.234-93.294c25.921-6.699,52.741-10.035,79.231-14.425
								c69.795-11.57,139.623-22.971,209.458-34.258c28.203-4.562,56.354-10.095,84.751-12.646c50.85-4.564,90.063,17.163,117.269,59.294
								c17.483,27.083,21.768,57.536,13.769,89.131c-2.553,10.083-5.428,20.151-9.077,29.881
								C685.354,240.354,665.79,291.784,646.33,343.251z M616.193,332.003c20.021-52.935,40.106-105.846,59.983-158.835
								c2.726-7.279,4.897-14.844,6.499-22.448C693.52,99.058,658.29,55.325,613.84,44.536c-16.205-3.936-32.288-2.435-48.374,0.187
								c-92.189,15.012-184.384,30.047-276.552,45.22c-23.418,3.858-47.044,7.03-70.072,12.61
								c-61.742,14.958-89.109,87.432-52.476,139.311c15.464,21.899,33.133,42.27,50.098,63.082
								c44.797,54.972,89.711,109.85,134.682,164.688c16.154,19.682,31.841,39.806,49.117,58.456
								c23.22,25.082,52.623,33.974,86.134,26.934c33.721-7.092,55.801-28.408,67.976-59.864
								C575.348,440.923,595.627,386.402,616.193,332.003z"/>
							<path fill="#FFFFFF" stroke="#7B1711" stroke-width="4" stroke-miterlimit="10" d="M616.193,332.003
								c-20.565,54.398-40.845,108.92-61.82,163.155c-12.175,31.453-34.253,52.772-67.976,59.861
								c-33.509,7.039-62.91-1.851-86.133-26.933c-17.274-18.648-32.963-38.772-49.115-58.457
								c-44.972-54.838-89.886-109.713-134.683-164.687c-16.967-20.811-34.635-41.182-50.099-63.081
								c-36.632-51.879-9.264-124.353,52.476-139.311c23.028-5.58,46.653-8.75,70.073-12.61c92.168-15.173,184.363-30.209,276.553-45.22
								c16.083-2.621,32.166-4.123,48.371-0.187c44.449,10.788,79.68,54.523,68.835,106.184c-1.602,7.605-3.771,15.169-6.497,22.449
								C656.299,226.158,636.213,279.069,616.193,332.003z"/>
						</g>
						<g>
							<path fill="#C21B1B" d="M491.608,335.591c-2.006-1.063-4-2.01-5.875-3.148c-1.502-0.909-1.674-2.397-0.705-4.256
								c3.303-6.327,6.62-12.658,9.929-18.989c3.806-7.258,7.617-14.521,11.539-22.01c22.466,11.716,44.88,23.405,67.426,35.166
								c-1.272,2.484-2.495,4.9-3.751,7.296c-5.75,10.956-11.516,21.905-17.267,32.858c-0.26,0.486-0.437,1.021-0.698,1.505
								c-0.698,1.264-2.174,1.889-3.471,1.296c-2.002-0.923-3.932-1.987-5.982-3.041c1.647-3.168,3.246-6.232,4.838-9.294
								c1.354-2.62,0.958-3.879-1.619-5.256c-5.769-3.06-11.526-6.153-17.317-9.168c-9.132-4.757-18.295-9.46-27.45-14.171
								c-1.954-1.009-3.425-0.518-4.502,1.475c-0.867,1.592-1.68,3.203-2.517,4.813C493.348,332.258,492.51,333.862,491.608,335.591z
								 M518.939,322.477c0.994,7.15,7.284,12.065,14.293,11.276c7.442-0.838,12.46-7.427,11.498-14.684
								c-0.926-6.961-7.614-12.061-14.601-11.143C523.133,308.845,518.008,315.503,518.939,322.477z"/>
							<path fill="#C21B1B" d="M361.363,386.826c-1.612,1.498-3.051,2.903-4.554,4.235c-1.481,1.311-2.991,1.182-4.36-0.278
								c-9.043-9.662-18.098-19.317-27.128-28.996c-1.534-1.646-2.963-3.397-4.536-5.209c18.441-17.183,36.887-34.37,55.451-51.662
								c0.393,0.374,0.765,0.687,1.094,1.042c10.261,11.001,20.516,22.016,30.773,33.029c1.405,1.508,1.409,2.921-0.057,4.345
								c-1.437,1.403-2.936,2.736-4.484,4.169c-2.46-2.632-4.847-5.205-7.246-7.76c-1.857-1.984-3.292-2.042-5.271-0.204
								c-12.178,11.334-24.357,22.674-36.528,34.01c-2.256,2.104-2.294,3.476-0.199,5.72
								C356.641,381.761,358.968,384.252,361.363,386.826z M373.742,342.273c-0.956-7.109-7.599-12.174-14.674-11.176
								c-7.022,0.991-12.017,7.58-11.085,14.621c0.923,7.016,7.55,12.108,14.539,11.171C369.665,355.933,374.697,349.375,373.742,342.273
								z"/>
							<path fill="#C21B1B" d="M470.127,365.948c-0.379,3.066-0.662,5.806-1.088,8.521c-0.179,1.151,0.078,1.779,1.103,2.435
								c1.685,1.074,3.167,2.467,4.805,3.627c0.409,0.292,1.181,0.443,1.64,0.272c2.441-0.903,4.848-1.885,7.226-2.938
								c1.379-0.613,2.25-0.335,2.95,0.993c0.967,1.807,1.998,3.595,3.085,5.332c0.77,1.238,0.544,2.078-0.612,2.926
								c-2.065,1.511-4.091,3.087-6.049,4.731c-0.424,0.361-0.718,1.165-0.668,1.728c0.184,2.149,0.59,4.277,0.79,6.426
								c0.08,0.845,0.426,1.198,1.167,1.488c2.383,0.944,4.706,2.01,7.1,2.928c1.276,0.487,1.729,1.201,1.344,2.535
								c-0.598,2.119-1.117,4.26-1.679,6.391c-0.298,1.115-0.873,1.65-2.194,1.431c-2.563-0.424-5.171-0.591-7.735-0.994
								c-1.037-0.158-1.504,0.18-2.053,1.002c-1.087,1.627-2.271,3.211-3.571,4.66c-0.687,0.757-0.798,1.316-0.403,2.214
								c1.025,2.333,1.937,4.728,2.966,7.055c0.552,1.254,0.3,2.081-0.896,2.739c-1.887,1.044-3.753,2.124-5.591,3.243
								c-1.113,0.682-1.915,0.512-2.694-0.537c-1.523-2.063-3.152-4.038-4.676-6.099c-0.621-0.837-1.193-1.049-2.268-0.8
								c-1.846,0.432-3.766,0.648-5.662,0.76c-0.986,0.061-1.544,0.287-1.917,1.248c-0.938,2.441-2.022,4.817-2.969,7.249
								c-0.479,1.246-1.232,1.571-2.456,1.213c-2.121-0.605-4.247-1.173-6.381-1.733c-1.132-0.299-1.675-0.834-1.46-2.157
								c0.415-2.566,0.575-5.179,0.988-7.74c0.174-1.047-0.166-1.502-0.981-2.046c-1.622-1.095-3.22-2.261-4.656-3.579
								c-0.829-0.765-1.452-0.752-2.375-0.346c-2.237,0.991-4.53,1.869-6.77,2.86c-1.354,0.598-2.255,0.32-2.966-1.009
								c-0.991-1.854-2.06-3.668-3.163-5.459c-0.693-1.134-0.48-1.911,0.566-2.688c2.095-1.557,4.105-3.224,6.195-4.781
								c0.749-0.565,0.898-1.075,0.696-2.031c-0.413-1.957-0.636-3.965-0.776-5.959c-0.063-0.88-0.298-1.36-1.13-1.69
								c-2.426-0.961-4.811-2.035-7.238-2.979c-1.256-0.491-1.737-1.195-1.337-2.542c0.596-2.018,1.13-4.054,1.62-6.102
								c0.349-1.445,1.135-1.946,2.62-1.704c2.418,0.405,4.859,0.635,7.285,0.996c0.992,0.146,1.587-0.021,2.18-0.994
								c1.016-1.662,2.25-3.22,3.561-4.673c0.701-0.774,0.774-1.343,0.374-2.238c-1.019-2.284-1.914-4.619-2.919-6.918
								c-0.557-1.268-0.375-2.153,0.927-2.846c1.855-0.989,3.667-2.059,5.455-3.166c1.223-0.76,2.067-0.548,2.915,0.62
								c1.468,2.033,3.095,3.957,4.582,5.978c0.561,0.751,1.113,0.958,2.031,0.797c2.025-0.354,4.068-0.628,6.113-0.824
								c0.872-0.084,1.334-0.403,1.656-1.214c0.959-2.426,2.023-4.813,2.964-7.243c0.457-1.168,1.209-1.526,2.346-1.221
								c2.23,0.583,4.472,1.125,6.676,1.796C469.294,365.065,469.749,365.65,470.127,365.948z M434.893,403.168
								c1.539,11.563,11.971,19.533,23.546,17.987c11.27-1.513,19.391-11.977,18.087-22.988c-1.426-11.925-12.17-19.887-23.305-18.59
								C441.693,380.921,433.226,391.658,434.893,403.168z"/>
							<path fill="#C21B1B" d="M490.702,470.054c-1.688,3.319-3.189,6.331-4.758,9.304c-0.165,0.313-0.68,0.563-1.061,0.612
								c-12.073,1.666-24.156,3.311-36.242,4.896c-0.477,0.067-1.17-0.247-1.508-0.621c-5.143-5.583-10.247-11.198-15.31-16.847
								c-0.418-0.467-0.784-1.56-0.534-1.922c0.456-0.671,1.304-1.213,2.302-0.419c0.699,0.555,1.555,0.915,2.346,1.356
								c2.162,1.203,4.24,0.876,5.813-1.003c1.06-1.27,2.071-2.601,3.025-3.961c1.395-1.992,1.175-4.085-0.543-5.871
								c-0.666-0.688-1.354-1.344-2.021-2.027c-0.921-0.934-0.653-2.182,0.575-2.588c1.046-0.355,2.111-0.646,3.163-0.976
								c2.174-0.687,3.339-2.469,3.079-4.719c-0.121-1.042-0.274-2.083-0.384-2.87c1.52-0.392,3.128-0.409,4.197-1.178
								c1.079-0.78,1.659-2.282,2.394-3.508c0.335-0.553,0.426-1.257,0.779-1.786c0.259-0.391,0.729-0.81,1.162-0.883
								c1.987-0.348,3.987-0.628,5.988-0.807c0.483-0.049,1.111,0.241,1.479,0.582c0.591,0.532,0.954,1.304,1.52,1.864
								c1.033,1.034,2.15,1.985,3.51,3.225c0.255,1.88,0.553,4.278,0.911,6.661c0.469,3.103,2.393,4.631,5.543,4.479
								c0.949-0.054,1.907-0.048,2.854-0.067c1.979-0.041,3.342,0.953,3.823,2.867c0.073,0.279-0.085,0.66-0.241,0.94
								c-0.741,1.37-1.519,2.725-2.293,4.075c-1.428,2.505-1.021,4.768,1.213,6.542c1.264,1.007,2.589,1.928,3.829,2.959
								C486.806,469.595,488.402,470.456,490.702,470.054z"/>
							<path fill="#C21B1B" d="M368.727,365.632c4.409-4.108,8.771-8.177,13.187-12.287c5.294,4.859,10.512,9.656,15.729,14.451
								c2.853,2.623,5.683,5.276,8.585,7.842c0.389,0.346,1.207,0.497,1.726,0.354c8.577-2.272,16.484-0.864,23.917,4.155
								c-0.714,0.992-1.337,1.941-2.066,2.796c-0.229,0.266-0.762,0.429-1.132,0.394c-1.843-0.166-3.68-0.413-5.519-0.641
								c-3.821-0.464-5.521,0.646-6.558,4.282c-0.067,0.24-0.161,0.47-0.283,0.825c-4.714-0.151-8.918,1.352-12.213,4.752
								c-1.993,2.061-3.311,4.65-3.844,7.549c-0.801,4.36,0.039,8.364,2.621,11.987c2.547,3.578,6.211,5.409,10.315,6.345
								c0.003,0.299,0.045,0.452,0.001,0.484c-2.062,1.412-2.271,3.514-2.161,5.743c0.021,0.448,0.06,0.907,0.018,1.352
								c-0.132,1.334-1.126,1.895-2.311,1.299c-0.673-0.338-1.321-0.727-1.978-1.097c-2.45-1.382-3.492-1.38-5.936,0.053
								c-6.616-4.293-10.806-10.282-12.499-18.022c-1.12-5.11-0.667-10.102,1.143-14.959c0.431-1.17-0.152-1.791-0.742-2.529
								c-6.199-7.773-12.399-15.541-18.597-23.314C369.666,366.863,369.217,366.265,368.727,365.632z"/>
							<path fill="#C21B1B" d="M483.54,428.588c-1.695-1.707-3.433-3.513-5.238-5.256c-0.817-0.784-0.878-1.488-0.2-2.357
								c1.121-1.426,2.237-2.855,3.284-4.331c0.699-0.974,1.402-1.112,2.427-0.502c1.894,1.135,3.811,2.239,5.783,3.246
								c0.434,0.219,1.21,0.132,1.679-0.108c1.421-0.733,2.709-1.742,4.159-2.382c1.103-0.479,1.354-1.132,1.33-2.188
								c-0.049-2.107,0.034-4.215-0.011-6.32c-0.018-1.047,0.479-1.417,1.428-1.528c1.898-0.219,3.799-0.471,5.687-0.773
								c1.09-0.172,1.569,0.314,1.827,1.285c0.579,2.187,1.16,4.369,1.828,6.528c0.126,0.399,0.615,0.858,1.023,0.987
								c1.716,0.53,3.456,1.01,5.214,1.354c0.557,0.111,1.372-0.078,1.785-0.448c1.6-1.448,3.128-2.983,4.588-4.569
								c0.779-0.849,1.455-0.924,2.335-0.238c1.461,1.15,2.94,2.285,4.446,3.387c0.898,0.659,1.027,1.365,0.457,2.319
								c-1.13,1.896-2.244,3.808-3.258,5.777c-0.228,0.446-0.165,1.236,0.078,1.707c0.819,1.6,1.747,3.146,2.716,4.661
								c0.245,0.376,0.779,0.777,1.195,0.789c2.297,0.068,4.607,0.051,6.92,0.003c0.996-0.023,1.515,0.396,1.638,1.352
								c0.236,1.897,0.579,3.796,0.638,5.697c0.02,0.588-0.625,1.539-1.175,1.746c-2.021,0.746-4.122,1.288-6.205,1.836
								c-0.813,0.212-1.241,0.479-1.399,1.427c-0.29,1.67-0.802,3.304-1.316,4.921c-0.242,0.762-0.201,1.253,0.426,1.836
								c1.586,1.469,3.057,3.062,4.616,4.563c0.837,0.805,0.925,1.549,0.187,2.477c-1.104,1.37-2.164,2.78-3.199,4.207
								c-0.711,0.983-1.419,1.221-2.536,0.532c-1.833-1.137-3.725-2.194-5.667-3.145c-0.482-0.238-1.317-0.109-1.846,0.144
								c-1.534,0.743-3.02,1.586-4.455,2.486c-0.406,0.252-0.807,0.855-0.827,1.316c-0.083,2.304,0.03,4.616-0.105,6.913
								c-0.04,0.56-0.686,1.428-1.186,1.533c-1.909,0.399-3.887,0.522-5.828,0.782c-1.203,0.158-1.758-0.492-2.033-1.535
								c-0.479-1.85-0.981-3.686-1.428-5.537c-0.242-1.004-0.598-1.637-1.826-1.803c-1.619-0.225-3.17-0.886-4.781-1.243
								c-0.468-0.106-1.186,0.021-1.521,0.33c-1.622,1.504-3.183,3.074-4.701,4.679c-0.805,0.845-1.516,0.988-2.464,0.212
								c-1.362-1.118-2.769-2.179-4.203-3.203c-0.998-0.709-1.231-1.425-0.543-2.532c1.107-1.793,2.085-3.67,3.149-5.491
								c0.411-0.709,0.511-1.22-0.053-1.994c-0.961-1.33-1.756-2.79-2.496-4.261c-0.414-0.829-0.866-1.177-1.834-1.145
								c-2.154,0.084-4.323-0.054-6.477,0.028c-1.05,0.035-1.521-0.445-1.659-1.332c-0.304-1.939-0.566-3.884-0.795-5.836
								c-0.116-0.994,0.331-1.536,1.382-1.784c2.194-0.509,4.373-1.132,6.518-1.805c0.41-0.129,0.85-0.674,0.97-1.107
								C482.55,432.871,483.002,430.826,483.54,428.588z M507.512,455.141c9.145-1.173,15.729-9.675,14.794-18.639
								c-1.009-9.621-9.933-16.541-19.243-15.233c-9.322,1.313-15.927,9.751-14.774,19.088
								C489.436,449.686,498.096,456.346,507.512,455.141z"/>
							<path fill="#C21B1B" d="M514.029,335.449c5.39,2.805,10.677,5.555,15.993,8.322c-3.219,7.559-6.396,15.037-9.587,22.507
								c-1.042,2.444-2.056,4.906-3.162,7.327c-0.457,0.988-0.323,1.697,0.294,2.595c7.615,11.08,6.263,26.172-3.124,35.355
								c-1.367,1.334-3.723,0.753-4.277-1.072c-0.403-1.299-0.767-2.601-1.098-3.912c-0.441-1.785-1.009-2.526-3.147-3.877
								c0.681-1.028,1.473-2.002,2.025-3.099c2.799-5.544,2.572-11.014-1.049-16.059c-3.574-4.986-8.581-7.112-14.715-6.187
								c-1.401,0.207-2.314,0.207-3.159-1.248c-1.201-2.068-3.658-2.594-5.99-1.667c-1.814,0.721-3.647,1.412-5.408,2.251
								c-0.928,0.452-1.54,0.352-2.264-0.337c-0.646-0.619-1.436-1.096-2.271-1.716c1.809-2.474,4.048-4.368,6.542-5.975
								c4.679-3.023,9.814-4.441,15.385-4.483c0.577-0.003,1.372-0.546,1.7-1.067C502.495,353.963,508.208,344.778,514.029,335.449z"/>
							<path fill="#C21B1B" d="M437.548,453.088c1.181,1.178,2.433,2.481,3.756,3.712c0.798,0.749,1.001,1.405,0.226,2.306
								c-0.782,0.918-1.493,1.899-2.194,2.883c-0.618,0.856-1.252,0.981-2.17,0.391c-1.269-0.812-2.587-1.566-3.955-2.194
								c-0.461-0.209-1.188-0.099-1.702,0.096c-0.683,0.278-1.232,0.967-1.926,1.146c-2.003,0.517-2.268,1.902-2.104,3.627
								c0.061,0.595-0.062,1.205,0.01,1.803c0.341,3.001-0.311,2.644-2.641,2.972c-3.574,0.506-3.797,0.542-4.641-2.983
								c-0.595-2.49-1.747-3.554-4.247-4.057c-1.692-0.346-2.769-0.393-3.84,1.018c-0.693,0.912-1.554,1.729-2.468,2.418
								c-0.394,0.301-1.271,0.411-1.659,0.176c-1.235-0.767-2.397-1.676-3.478-2.652c-0.305-0.282-0.46-1.098-0.279-1.476
								c0.692-1.449,1.515-2.84,2.353-4.212c0.422-0.693,0.46-1.245-0.076-1.898c-0.412-0.495-0.889-1.037-1.046-1.635
								c-0.584-2.227-2.153-2.538-4.09-2.326c-0.645,0.068-1.304,0.016-1.955,0c-2.196-0.047-2.196-0.052-2.487-2.179
								c-0.553-4.042-0.583-4.158,3.265-5.167c2.08-0.548,3.116-1.397,3.67-3.678c0.534-2.181,0.214-3.39-1.396-4.843
								c-2.938-2.647-2.842-2.764-0.399-5.967c1.493-1.965,1.493-1.965,3.598-0.792c4.14,2.3,4.147,2.308,8.257-0.298
								c0.293-0.189,0.523-0.686,0.539-1.052c0.068-1.602,0.104-3.213,0.043-4.812c-0.043-1.135,0.527-1.516,1.507-1.634
								c1.151-0.134,2.302-0.271,3.443-0.473c1.106-0.191,1.698,0.212,1.96,1.299c0.349,1.469,0.718,2.933,1.229,4.343
								c0.17,0.47,0.752,0.873,1.239,1.128c0.474,0.24,1.143,0.113,1.596,0.371c2.196,1.264,3.547,0.196,5.08-1.383
								c3.071-3.155,2.075-3.079,5.679-0.401c0.243,0.183,0.462,0.399,0.727,0.541c1.276,0.7,1.324,1.613,0.52,2.714
								c-0.153,0.196-0.272,0.421-0.397,0.645c-2.363,4.177-2.386,4.197,0.373,8.099c0.27,0.379,1.021,0.565,1.563,0.591
								c1.498,0.08,3.015-0.051,4.505,0.078c0.471,0.037,1.186,0.565,1.286,0.991c0.338,1.417,0.537,2.88,0.584,4.333
								c0.016,0.451-0.528,1.175-0.979,1.339c-1.5,0.545-3.095,0.838-4.617,1.331c-0.438,0.14-0.958,0.583-1.085,0.994
								C438.263,449.844,437.948,451.416,437.548,453.088z M422.772,458.612c7.158-0.974,12.094-7.375,11.143-14.47
								c-0.976-7.291-7.49-12.32-14.662-11.313c-7.096,0.996-12.157,7.636-11.195,14.688
								C409.023,454.596,415.627,459.573,422.772,458.612z"/>
							<path fill="#C21B1B" d="M587.506,296.56c-1.452,2.709-2.799,5.229-4.198,7.858c-22.49-11.739-44.838-23.399-67.395-35.172
								c1.346-2.603,2.678-5.164,4.007-7.73C542.477,273.214,564.94,284.858,587.506,296.56z"/>
							<path fill="#C21B1B" d="M356.505,283.561c2.031,2.195,3.937,4.253,5.982,6.462c-18.554,17.294-37.027,34.508-55.545,51.761
								c-2.033-2.153-3.986-4.229-6.044-6.411C319.428,318.109,337.905,300.891,356.505,283.561z"/>
							<path fill="#C21B1B" d="M580.998,308.386c-0.396,0.805-0.537,1.695-0.956,1.846c-0.817,0.303-1.92,0.508-2.66,0.185
								c-2.573-1.117-5.058-2.456-7.555-3.761c-17.72-9.263-35.435-18.535-53.15-27.808c-0.713-0.373-1.42-0.753-2.128-1.133
								c-1.407-0.747-1.997-1.934-1.503-3.007c0.555-1.21,1.818-1.505,3.356-0.705c5.136,2.649,10.255,5.328,15.38,7.998
								c10.424,5.428,20.853,10.856,31.278,16.285c5.256,2.742,10.525,5.477,15.754,8.269
								C579.596,306.974,580.213,307.71,580.998,308.386z"/>
							<path fill="#C21B1B" d="M511.143,280.71c0.384,0.133,1.079,0.282,1.688,0.595c15.861,8.249,31.718,16.506,47.58,24.775
								c4.849,2.53,9.689,5.087,14.539,7.638c0.26,0.139,0.547,0.254,0.797,0.419c1.063,0.698,1.541,1.691,0.931,2.834
								c-0.615,1.158-1.782,1.316-2.883,0.798c-1.911-0.894-3.761-1.914-5.626-2.886c-18.929-9.877-37.85-19.742-56.769-29.633
								c-0.657-0.342-1.351-0.73-1.817-1.278C508.545,282.755,509.265,281.016,511.143,280.71z"/>
							<path fill="#C21B1B" d="M318.228,353.118c-0.72-0.521-1.708-0.87-1.884-1.46c-0.213-0.713,0.022-1.815,0.484-2.429
								c0.802-1.069,1.924-1.899,2.917-2.825c16.252-15.14,32.507-30.277,48.763-45.415c0.147-0.142,0.286-0.285,0.44-0.413
								c1.179-0.986,2.416-1.044,3.22-0.154c0.843,0.926,0.734,2.114-0.392,3.19c-1.993,1.914-4.025,3.79-6.045,5.678
								c-15.077,14.045-30.152,28.091-45.237,42.126C319.888,351.972,319.17,352.414,318.228,353.118z"/>
							<path fill="#C21B1B" d="M312.657,347.146c-0.685-0.487-1.667-0.825-1.789-1.354c-0.18-0.8-0.049-1.995,0.46-2.553
								c1.654-1.816,3.533-3.428,5.336-5.103c15.328-14.284,30.656-28.563,45.989-42.842c0.219-0.208,0.44-0.411,0.67-0.607
								c1.264-1.096,2.439-1.158,3.32-0.186c0.821,0.901,0.619,2.208-0.552,3.3c-4.515,4.22-9.039,8.429-13.561,12.64
								c-12.575,11.711-25.147,23.426-37.732,35.121C314.232,346.089,313.549,346.493,312.657,347.146z"/>
							<path fill="#C21B1B" d="M532.942,330.979c-5.445,0.81-10.679-3.438-11.284-9.021c-0.584-5.395,3.456-10.52,8.905-11.147
								c5.622-0.646,10.704,3.307,11.337,8.828C542.566,325.335,538.652,330.28,532.942,330.979z M532.833,328.338
								c4.07-0.548,7.079-4.464,6.518-8.475c-0.568-4.056-4.445-7.017-8.535-6.517c-4.096,0.505-7.042,4.344-6.491,8.472
								C524.897,326.157,528.511,328.92,532.833,328.338z"/>
							<path fill="#C21B1B" d="M370.982,342.765c0.741,5.581-3.136,10.6-8.771,11.349c-5.496,0.729-10.559-3.122-11.343-8.628
								c-0.802-5.634,3.169-10.857,8.764-11.528C365.255,333.285,370.238,337.153,370.982,342.765z M368.397,343.158
								c-0.539-4.277-4.284-7.217-8.484-6.645c-4.084,0.549-7.028,4.386-6.532,8.507c0.492,4.103,4.309,7.039,8.455,6.507
								C366.083,350.974,368.921,347.358,368.397,343.158z"/>
							<path fill="#C21B1B" d="M437.042,402.921c-1.481-10.83,6.535-20.062,16.537-21.193c10.053-1.137,19.321,6.087,20.703,16.47
								c1.337,10.07-5.894,19.393-16.123,20.797C447.834,420.41,438.421,413.247,437.042,402.921z M447.882,401.421
								c0.557,4.238,4.607,7.344,8.837,6.765c4.18-0.57,7.186-4.536,6.666-8.775c-0.532-4.265-4.598-7.369-8.822-6.749
								C450.344,393.283,447.323,397.24,447.882,401.421z"/>
							<path fill="#C21B1B" d="M490.099,440.17c-1.127-8.355,4.8-16.104,13.166-17.216c8.3-1.105,16.153,4.905,17.258,13.198
								c1.107,8.351-4.83,16.146-13.155,17.266C498.886,454.572,491.262,448.717,490.099,440.17z M498.99,438.942
								c0.466,3.612,3.549,6.048,7.074,5.584c3.562-0.464,6.043-3.645,5.584-7.15c-0.446-3.41-3.677-5.944-7.075-5.536
								C501.025,432.26,498.538,435.421,498.99,438.942z"/>
							<path fill="#C21B1B" d="M410.213,447.184c-0.791-5.922,3.465-11.493,9.401-12.29c5.969-0.807,11.652,3.561,12.401,9.511
								c0.744,5.939-3.519,11.465-9.463,12.271C416.519,457.492,411.033,453.275,410.213,447.184z M425.572,445.121
								c-0.363-2.481-2.603-4.176-5.077-3.846c-2.519,0.33-4.319,2.66-3.985,5.152c0.326,2.437,2.787,4.288,5.229,3.932
								C424.249,449.989,425.942,447.67,425.572,445.121z"/>
						</g>
						<g>
							<rect x="-86.724" y="210.445" transform="matrix(-0.991 0.1342 -0.1342 -0.991 894.204 410.6939)" fill="none" width="1039.967" height="50.082"/>
							<path fill="#030303" d="M278.907,258.371l4.358-21.714l-2.84,0.112l-0.489-3.607l10.193-1.381l12.562,24.457l0.044-0.006
								l2.555-0.21l0.513,3.784l-11.486,1.556l-0.488-3.605l1.673-0.363c0.498-0.129,0.823-0.293,0.977-0.494
								c0.153-0.204,0.124-0.532-0.088-0.987l-1.309-2.634l-10.417,1.411l-0.805,4.097l2.69-0.228l0.512,3.784l-10.283,1.394
								l-0.488-3.606l1.45-0.333C278.356,259.653,278.745,259.18,278.907,258.371z M287.6,237.201l-2.421,13.247l8.28-1.122
								l-5.726-12.145L287.6,237.201z"/>
							<path fill="#030303" d="M335.213,252.24l0.477,3.518l-7.211,0.976l-0.393-2.894c-1.318,2.537-3.566,4.02-6.742,4.45
								c-4.601,0.624-7.247-1.632-7.943-6.768l-1.393-10.283c-0.108-0.801-0.536-1.165-1.282-1.095l-1.436,0.104l-0.495-3.652
								l7.834-1.061l1.911,14.112c0.213,1.574,0.595,2.73,1.15,3.471c0.553,0.741,1.528,1.018,2.922,0.828
								c1.395-0.188,2.457-0.77,3.185-1.746c0.729-0.975,1.013-2.071,0.848-3.289l-1.271-9.393c-0.064-0.473-0.192-0.796-0.381-0.967
								c-0.189-0.17-0.494-0.243-0.914-0.215l-1.436,0.104l-0.495-3.652l7.835-1.061l2.364,17.451c0.065,0.475,0.18,0.783,0.353,0.929
								c0.17,0.143,0.483,0.214,0.936,0.213L335.213,252.24z"/>
							<path fill="#030303" d="M343.862,227.041l2.894-0.391l0.639,4.718l5.919-0.802l0.062,3.8l-5.475,0.743l1.586,11.707
								c0.176,1.307,0.537,2.186,1.083,2.64c0.544,0.456,1.314,0.617,2.31,0.483c0.994-0.135,1.954-0.583,2.878-1.343l1.801,3.247
								c-1.344,1.239-3.157,2.014-5.442,2.323c-1.336,0.181-2.487,0.165-3.454-0.054c-0.968-0.216-1.699-0.502-2.202-0.857
								c-0.501-0.355-0.926-0.917-1.271-1.687c-0.346-0.77-0.565-1.38-0.656-1.838c-0.093-0.456-0.199-1.129-0.319-2.018l-1.61-11.886
								l-3.161,0.429l0.005-3.31c1.379-0.308,2.365-0.947,2.959-1.92C343.001,230.054,343.487,228.727,343.862,227.041z"/>
							<path fill="#030303" d="M362.468,240.706c-0.296-2.195-0.229-4.146,0.205-5.854c0.432-1.706,1.14-3.063,2.123-4.073
								c1.89-1.888,4.111-3.005,6.665-3.351c1.781-0.241,3.325-0.154,4.635,0.257c1.309,0.41,2.366,0.947,3.165,1.61
								c0.801,0.663,1.544,1.68,2.227,3.053c0.686,1.372,1.16,3.04,1.427,4.998c0.555,4.096-0.02,7.332-1.722,9.708
								c-1.704,2.376-4.106,3.774-7.208,4.194c-3.101,0.42-5.663-0.253-7.684-2.019C364.275,247.464,362.999,244.623,362.468,240.706z
								 M373.786,247.287c3.234-0.438,4.499-3.268,3.792-8.491c-0.357-2.642-0.993-4.596-1.905-5.862
								c-0.912-1.265-2.221-1.784-3.928-1.552c-1.707,0.23-2.872,1.053-3.497,2.466c-0.623,1.417-0.783,3.251-0.478,5.506
								c0.567,4.184,1.694,6.707,3.382,7.566C371.899,247.301,372.777,247.423,373.786,247.287z"/>
							<path fill="#030303" d="M414.729,239.974l-2.737-20.21l-3.472,0.47c-0.684,0.093-0.962,0.6-0.837,1.519l0.284,2.093l-4.583,0.303
								l-1.024-7.567l23.282-3.153l1.024,7.567l-4.497,0.929l-0.285-2.093c-0.068-0.504-0.19-0.849-0.366-1.037
								c-0.178-0.188-0.548-0.245-1.111-0.168l-3.027,0.411l2.882,21.28l3.535-0.344l0.51,3.785l-12.552,1.701l-0.488-3.606l2.341-0.453
								C414.455,241.188,414.83,240.715,414.729,239.974z"/>
							<path fill="#030303" d="M433.83,231.039c-0.296-2.195-0.229-4.146,0.207-5.854c0.431-1.705,1.142-3.063,2.123-4.072
								c1.89-1.888,4.111-3.005,6.663-3.352c1.781-0.241,3.324-0.155,4.636,0.257c1.309,0.411,2.363,0.948,3.166,1.611
								c0.796,0.662,1.54,1.68,2.226,3.052c0.685,1.373,1.161,3.04,1.426,4.997c0.555,4.096-0.02,7.331-1.724,9.708
								c-1.702,2.377-4.104,3.774-7.205,4.194c-3.102,0.419-5.664-0.253-7.685-2.019C435.637,237.797,434.362,234.957,433.83,231.039z
								 M445.151,237.62c3.232-0.438,4.496-3.267,3.791-8.49c-0.358-2.642-0.995-4.596-1.907-5.861c-0.91-1.266-2.219-1.785-3.927-1.554
								c-1.707,0.231-2.873,1.053-3.496,2.466c-0.625,1.416-0.784,3.251-0.479,5.506c0.568,4.184,1.698,6.708,3.383,7.567
								C443.261,237.635,444.139,237.756,445.151,237.62z"/>
							<path fill="#030303" d="M466.598,242.33l-2.917-21.546c-0.069-0.504-0.198-0.841-0.39-1.013c-0.186-0.17-0.491-0.228-0.905-0.171
								l-1.889,0.12l-0.486-3.606l7.522-1.019l0.392,2.894c0.353-0.955,1.104-1.886,2.249-2.798c1.146-0.912,2.58-1.483,4.3-1.716
								c5.372-0.727,8.571,2.678,9.59,10.216c0.545,4.007,0.084,7.197-1.377,9.569c-1.463,2.375-3.69,3.765-6.688,4.17
								c-1.781,0.242-3.425,0.027-4.938-0.646l0.834,6.145l3.63-0.311l0.477,3.516l-11.485,1.556l-0.459-3.382l1.45-0.331
								c0.438-0.123,0.746-0.292,0.929-0.514C466.616,243.241,466.671,242.864,466.598,242.33z M478.607,224.885
								c-0.675-4.956-2.505-7.231-5.504-6.825c-1.249,0.169-2.257,0.689-3.029,1.564c-0.773,0.877-1.09,1.833-0.947,2.872l1.386,10.241
								c1.226,0.587,2.649,0.773,4.271,0.554c1.616-0.218,2.73-1.125,3.347-2.72C478.745,228.976,478.904,227.08,478.607,224.885z"/>
							<path fill="#030303" d="M502.619,229.065c3.562-0.482,5.147-2.148,4.762-4.997c-0.199-1.483-1.135-2.476-2.805-2.975
								c-0.888-0.302-2.015-0.542-3.385-0.72c-1.368-0.177-2.517-0.392-3.442-0.645c-0.925-0.251-1.876-0.644-2.857-1.177
								c-1.927-1.068-3.074-2.961-3.443-5.677c-0.365-2.717,0.285-4.979,1.96-6.794c1.676-1.812,4.031-2.926,7.075-3.338
								c3.039-0.412,5.949-0.186,8.727,0.678l0.905,6.677l-4.499,0.924l-0.352-2.581c-0.061-0.445-0.163-0.762-0.31-0.955
								c-0.404-0.519-1.486-0.66-3.254-0.42c-1.765,0.24-3.029,0.727-3.79,1.465c-0.762,0.739-1.052,1.762-0.878,3.067
								c0.13,0.951,0.598,1.732,1.406,2.346c0.537,0.411,1.297,0.709,2.275,0.894c0.976,0.186,2.016,0.369,3.112,0.553
								c1.098,0.186,2.078,0.415,2.948,0.688c0.868,0.274,1.796,0.694,2.777,1.257c1.99,1.088,3.175,3.029,3.554,5.818
								c0.379,2.791-0.325,5.123-2.114,6.995c-1.785,1.875-4.32,3.035-7.599,3.478c-3.278,0.444-6.309,0.236-9.082-0.627l-0.954-7.034
								l4.498-0.926l0.368,2.716c0.061,0.445,0.164,0.764,0.31,0.953c0.149,0.192,0.537,0.344,1.174,0.454
								C500.344,229.276,501.313,229.243,502.619,229.065z"/>
							<path fill="#030303" d="M520.891,219.245c-0.298-2.195-0.231-4.146,0.202-5.852c0.434-1.706,1.142-3.063,2.126-4.073
								c1.89-1.888,4.108-3.004,6.663-3.351c1.781-0.242,3.324-0.155,4.636,0.256c1.309,0.411,2.363,0.949,3.162,1.61
								c0.8,0.663,1.544,1.681,2.228,3.053c0.687,1.373,1.16,3.041,1.426,4.998c0.555,4.096-0.021,7.331-1.724,9.708
								c-1.702,2.379-4.105,3.775-7.206,4.194c-3.099,0.421-5.661-0.251-7.685-2.018C522.698,226.005,521.421,223.164,520.891,219.245z
								 M532.208,225.828c3.235-0.438,4.5-3.268,3.791-8.492c-0.355-2.642-0.991-4.596-1.904-5.86c-0.91-1.267-2.222-1.785-3.927-1.554
								c-1.707,0.231-2.873,1.054-3.496,2.466c-0.625,1.417-0.784,3.251-0.479,5.506c0.567,4.185,1.694,6.707,3.382,7.567
								C530.321,225.842,531.199,225.963,532.208,225.828z"/>
							<path fill="#030303" d="M552.543,221.305l-1.669-12.333c-0.066-0.472-0.192-0.796-0.381-0.966
								c-0.189-0.171-0.495-0.243-0.914-0.216l-1.889,0.118l-0.486-3.606l7.521-1.019l0.454,3.339c0.378-1.231,1.076-2.3,2.104-3.209
								c1.026-0.91,2.272-1.463,3.74-1.663c1.471-0.2,2.917-0.061,4.341,0.409l0.897,6.633l-4.099,0.873l-0.277-2.049
								c-0.08-0.591-0.28-0.943-0.598-1.052c-0.345-0.104-0.757-0.124-1.231-0.059c-1.188,0.161-2.101,0.714-2.74,1.665
								c-0.644,0.947-0.878,2.075-0.699,3.38l1.396,10.327l3.899-0.347l0.475,3.518l-11.93,1.616l-0.456-3.383l1.45-0.333
								c0.438-0.12,0.746-0.29,0.929-0.511C552.561,222.218,552.617,221.84,552.543,221.305z"/>
							<path fill="#030303" d="M577.878,195.344l2.893-0.393l0.638,4.719l5.919-0.802l0.063,3.8l-5.476,0.742l1.587,11.707
								c0.179,1.306,0.537,2.186,1.082,2.64c0.547,0.455,1.315,0.616,2.31,0.482c0.997-0.134,1.955-0.583,2.878-1.343l1.801,3.248
								c-1.344,1.238-3.157,2.015-5.443,2.323c-1.337,0.181-2.486,0.163-3.452-0.054c-0.966-0.215-1.699-0.501-2.201-0.857
								c-0.503-0.355-0.926-0.917-1.271-1.686c-0.346-0.77-0.565-1.38-0.658-1.839c-0.089-0.455-0.197-1.129-0.318-2.018l-1.608-11.885
								l-3.161,0.428l0.006-3.309c1.377-0.307,2.366-0.947,2.958-1.92C577.016,198.355,577.5,197.027,577.878,195.344z"/>
						</g>
						<g>
							<rect x="225.786" y="117.242" transform="matrix(-0.991 0.1342 -0.1342 -0.991 864.5995 266.0419)" fill="none" width="395.094" height="89.839"/>
							<path d="M275.889,211.11l11.884-59.223l-7.748,0.307l-1.333-9.835l27.802-3.767l34.255,66.698l0.123-0.018l6.968-0.573
								l1.398,10.32l-31.324,4.243l-1.332-9.834l4.564-0.99c1.354-0.346,2.243-0.798,2.662-1.349c0.421-0.552,0.34-1.448-0.24-2.688
								l-3.57-7.182l-28.409,3.848l-2.195,11.177l7.334-0.622l1.398,10.32l-28.044,3.799l-1.333-9.835l3.957-0.907
								C274.386,214.611,275.447,213.314,275.889,211.11z M299.596,153.376l-6.604,36.131l22.582-3.059l-15.614-33.122L299.596,153.376z"
								/>
							<path d="M428.619,190.422l-7.468-55.121l-9.469,1.282c-1.862,0.251-2.623,1.634-2.282,4.143l0.772,5.707l-12.499,0.828
								l-2.795-20.64l63.495-8.601l2.797,20.639l-12.27,2.528l-0.774-5.707c-0.187-1.374-0.521-2.319-1.001-2.832
								c-0.481-0.51-1.49-0.663-3.029-0.456l-8.255,1.119l7.859,58.033l9.642-0.936l1.397,10.321l-34.236,4.637l-1.333-9.835l6.387-1.235
								C427.872,193.737,428.89,192.444,428.619,190.422z"/>
							<path d="M553.058,176.287c9.712-1.316,14.041-5.859,12.991-13.63c-0.55-4.047-3.1-6.751-7.652-8.112
								c-2.421-0.827-5.5-1.481-9.231-1.964c-3.731-0.483-6.862-1.068-9.387-1.757c-2.524-0.687-5.122-1.757-7.79-3.209
								c-5.258-2.915-8.389-8.074-9.393-15.482c-1.001-7.404,0.779-13.58,5.345-18.525c4.563-4.947,10.993-7.981,19.288-9.104
								c8.296-1.125,16.229-0.507,23.801,1.846l2.467,18.211l-12.267,2.527l-0.953-7.042c-0.165-1.215-0.45-2.083-0.849-2.606
								c-1.099-1.415-4.058-1.798-8.87-1.147c-4.817,0.653-8.262,1.985-10.338,3.998c-2.077,2.012-2.875,4.798-2.394,8.36
								c0.351,2.592,1.629,4.725,3.837,6.405c1.47,1.119,3.536,1.932,6.201,2.436c2.664,0.503,5.493,1.007,8.489,1.507
								c2.991,0.503,5.675,1.129,8.043,1.879s4.893,1.892,7.571,3.425c5.431,2.974,8.664,8.264,9.693,15.873
								c1.031,7.61-0.891,13.967-5.762,19.08c-4.87,5.11-11.78,8.27-20.721,9.481c-8.946,1.211-17.203,0.642-24.776-1.713l-2.599-19.182
								l12.271-2.527l1.001,7.406c0.166,1.213,0.446,2.083,0.847,2.604c0.401,0.523,1.466,0.935,3.199,1.237
								C546.848,176.861,549.495,176.768,553.058,176.287z"/>
						</g>
						<rect x="366.413" y="166.8" transform="matrix(-0.9903 0.1392 -0.1392 -0.9903 768.7826 295.1446)" fill="#7B1713" width="15.315" height="15.315"/>
						<polygon fill="#7B1713" points="503.227,163.681 488.059,165.774 485.96,150.603 501.128,148.515 	"/>
					</g>
				</svg>
            </div>
        </a>
    </div>
</div>