.header
  background: transparentize($black, 0.75)
  position: absolute
  top: 0
  left: 0
  width: 100%
  z-index: 100
  
  .container
    position: relative
  
  &__relative
    position: relative
    width: 100%
  
  &__panel
    display: flex
    height: 85px
    width: 100%
    +PC_MIN
      justify-content: space-between
      align-items: flex-end