.trump
  .container
    .trump__title
      include ../title/title-white

    .trump__content
      .trump__item.wow.zoomInLeft(data-wow-delay="0.3s")
        .trump__itemBox
          .trump__borderOut
            .trump__borderIn
              .trump__iconBox
                i.trump__icon.fa.fa-car

        h1.trump__itemTitle
          +lorem(2)

      .trump__item.wow.zoomInLeft(data-wow-delay="0.6s")
        .trump__itemBox
          .trump__borderOut
            .trump__borderIn
              .trump__iconBox
                i.trump__icon.fa.fa-motorcycle
        h1.trump__itemTitle
          +lorem(2)

      .trump__item.wow.zoomInLeft(data-wow-delay="0.9s")
        .trump__itemBox
          .trump__borderOut
            .trump__borderIn
              .trump__iconBox
                i.trump__icon.fa.fa-truck
        h1.trump__itemTitle
          +lorem(2)

      .trump__item.wow.zoomInLeft(data-wow-delay="1.2s")
        .trump__itemBox
          .trump__borderOut
            .trump__borderIn
              .trump__iconBox
                i.trump__icon.fa.fa-cog
        h1.trump__itemTitle
          +lorem(2)


    .trump__button.wow.bounceInUp
      include ../button/button-hollow