.trump
  +section-padding
  background: $grayDark url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAYAAAAGCAYAAADgzO9IAAAAHElEQVQYV2NkQAWSMC4jWRJw7QwMDM+RjSJNAgCMFgNS6xpg7wAAAABJRU5ErkJggg==)
  color: $gray
  text-align: center
  overflow: hidden
  
  &__title
    margin-bottom: 40px
  
  &__content
    +clearfix
  
  &__item
    +flex-center
    flex-direction: column
    float: left
    +PHONE_ONLY
      width: 100%
      padding-bottom: 40px
      &:last-child
        padding-bottom: 0
    +TAB_MIN
      width: 50%
      &:nth-child(2n)
        padding-top: 80px
    +PC_MIN
      &:nth-child(2)
        .trump__itemBox
          &:after
            transform: rotate(-45deg)
      &:last-child
        .trump__itemBox
          &:after
            border: none
      width: 25%
  
  &__itemBox
    width: 170px
    height: 170px
    position: relative
    +PC_MIN
      &:after
        content: ''
        height: 1px
        width: 50%
        border: 1px dashed transparentize($white, 0.70)
        position: absolute
        left: calc(100% + 5px)
        bottom: 50%
        transform: rotate(45deg)
        transform-origin: left
  
  &__borderOut, &__borderIn
    border: 1px dashed transparentize($white, 0.70)
  
  &__borderOut
    width: 100%
    height: 100%
    padding: 15px
  
  &__borderIn
    height: 100%
    padding: 10px
  
  &__iconBox
    +flex-center
    background: transparentize($red, 0.7)
    height: 100%
  
  &__itemTitle
    +font(size 16px weight 400)
    text-transform: uppercase
    margin-top: 30px
    color: $gray
    
  &__icon
    +font(size 60px)
  
  &__button
    margin-top: 40px
    
  