<div class="banner -main">
    <div class="banner__slider">
        {loop: $carousel.items}
        <div class="banner__item"
             style="background-image: url('{?=url($value.src.lg)?}')">
            <div class="container">
                <div class="banner__header wow fadeInUp" data-wow-delay="0.6s">
                    <div class="banner__corners">
                        <div class="banner__corner"></div>
                        <div class="banner__corner"></div>
                        <div class="banner__corner"></div>
                        <div class="banner__corner"></div>
                    </div>
                    <div class="banner__titleTop">
                        <h1 class="title -blue -small wow fadeInDown">
                            <span class="title__box">
                                <span class="title__second">
                                    {$value.title}
                                </span>
                            </span>
                        </h1>
                    </div>
                    <div class="banner__titleBottom">
                        {$value.desc}
                    </div>
                    <div class="banner__button">
                        <a class="button -blue" href="{?=url($bat.path)?}/blog">Zobacz więcej</a>
                    </div>
                </div>
            </div>
        </div>
        {/loop}
    </div>
</div>