.projects

  .projects__flex

    .projects__item.wow.zoomInUp(data-wow-delay="0.3s")
      .projects__imgBox
        - var imgStyle = 'background-image: url('+ imgDir +'projects__img-1.jpg)';
        .projects__img(style=imgStyle)
      a(href='projects.html').projects__link
        .projects__titleTop
          +lorem(2)
        .projects__titleBottom Zobacz więcej

    .projects__item.wow.zoomInUp(data-wow-delay="0.6s")
      .projects__imgBox
        .projects__img
          i.projects__icon.fa.fa-newspaper-o
      a(href='projects.html').projects__link
        .projects__titleTop
          +lorem(2)
        .projects__titleBottom Zobacz więcej