.projects
  
  &__flex
    display: flex
    +PHONE_ONLY
      flex-direction: column
  
  &__item
    position: relative
    flex: 1
    background: $gray
    +PHONE_ONLY
      margin-bottom: 70px
    +TAB_MIN
      margin: 0 15px
  
  &__imgBox
    width: 100%
    padding: 15px
    border: 1px solid #6d7a9c
  
  &__img
    background-size: cover
    background-position: center
    width: 100%
    height: 150px
    
  &__icon
    +absolute-center
    +font(size 70px)
  
  &__link
    +wave-effect
    position: absolute
    bottom: -20px
    left: 15%
    text-align: center
    width: 70%
    background: $white
    padding: 15px
    border: 1px solid #6d7a9c
    &:after
      background: $gray
    &:hover
      text-decoration: none
      .projects__titleBottom
        color: $white
  
  &__titleTop
    +font(size 18px weight 600)
    color: $red
    text-transform: uppercase
  
  &__titleBottom
    +font(size 12px weight 600)
    color: $gray
    text-transform: uppercase
    transition: 0.3s ease all